<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="UTF-8" />
		<link rel="stylesheet" href="/assets/css/burger.css" type="text/css" />
		<title>Eating burgers</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/javascript/burger.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>