<h1>Burger eater</h1>

<h2>Freshly made burgers waiting to be eaten</h2>

<ul>
  {{!-- burgers comes from res.render in burger_controller.js --}}
  {{#each burgers}}
  {{!-- devoured is a column in the burgers table --}}
    {{#unless devoured}}
    {{!-- it uses the value of devoured to pass eat = true or false as appropriate --}}
      {{> burgers/burger-block eat=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>These burgers are but a distant memory...</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block eat=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form action="javascript:void(0);" class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="newBurger" name="name">
  </div>

  <div class="form-group">
  </div>

  <button id="addBurger">Add Burger</button>
</form>