<li>
	{{!-- burger_name is the name of a column table --}}
	{{burger_name}} 
	{{!-- eat comes from index.handlebars, which gets eat being true or false from the devoured column --}}
	{{#if eat}}<button class="change-eaten" id="{{id}}">
		Eat!
	</button>{{/if}}

	<button class="delete-burger" id="{{id}}">
        {{#if eat}}Delete without eating{{else}}Delete{{/if}}
    </button>
</li>
